<div class="paper-entry">
    <div class="paper-title"><strong>{{ include.title }}</strong> (<strong>{{ include.year }}</strong>)</div>
    <div class="paper-authors">{{ include.authors }}</div>

    <div class="paper-status">
        <em>{{ include.status }}</em>
        {% if include.arxiv or include.pdf or include.code or include.project %}
           <!-- the dash -->
        <span class="paper-links">
      {% if include.arxiv %}
        <a href="{{ include.arxiv }}" target="_blank">arXiv</a>
      {% endif %}
      {% if include.pdf %}
        <a href="{{ include.pdf }}" target="_blank">PDF</a>
      {% endif %}
      {% if include.code %}
        <a href="{{ include.code }}" target="_blank">Code</a>
      {% endif %}
      {% if include.project %}
        <a href="{{ include.project }}" target="_blank">Project</a>
      {% endif %}
    </span>
        {% endif %}
    </div>
    {% if include.abstract %}
    <details class="abstract-block">
        <summary>Show Abstract</summary>
        <div class="abstract-text">
            {{ include.abstract | markdownify }}
        </div>
    </details>
    {% endif %}
</div>

